{% extends "layouts/layout.html.twig" %}

{% set title = 'Ajout de produits' %}

{% block js %}
    <script src="{{ base_url() ~ '/assets/js/modal.js' }}"> </script>
    {% if flash.errors is defined %}
        <script>
            $( document ).ready(function() {
                $('#modalBtn').trigger('click')
            });
        </script>
    {% endif %}
{% endblock %}


{% block content %}

    <div>
        <button id="modalBtn" class="btn_new_item">+ Ajouter un cadeau d'un autre site</button>
        <h2>Produits</h2>
        <hr class="clear-r">
    </div>


    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>
            <h2>Ajouter un produit</h2>
            <hr>
            <form action="{{ path_for('list.createproduct', {id: list.id}) }}" method="post" enctype="multipart/form-data">
                {{ csrf() }}

                <label for="name">Nom du produit</label>
                <input type="text" name="name" id="name" value="{{ persistValues.name }}" class="{% if flash.errors.name %}has-error{% endif %}" required>
                {% if flash.errors.name %}
                    <span>{{ flash.errors.name }}</span>
                {% endif %}

                <label for="descritpion">Description</label>
                <input type="text" name="description" id="description" value="{{ persistValues.description }}" class="{% if flash.errors.description %}has-error{% endif %}" required>
                {% if flash.errors.description %}
                    <span>{{ flash.errors.description }}</span>
                {% endif %}

                <label for="link">Lien du produit</label>
                <input type="text" name="link" id="link" value="{{ persistValues.link }}"class="{% if flash.errors.link %}has-error{% endif %}" class="{% if flash.errors.last_name %}has-error{% endif %}" required>
                {% if flash.errors.link %}
                    <span>{{ flash.errors.link }}</span>
                {% endif %}

                <label for="price">Prix du produit</label>
                <input type="text" name="price" id="price" value="{{ persistValues.price }}" class="{% if flash.errors.price %}has-error{% endif %}" required>
                {% if flash.errors.price %}
                    <span>{{ flash.errors.price }}</span>
                {% endif %}

            <label for="pic">Photo du produit</label>
            <input type="file" name="pic" accept="image/*" id="pic" value="{{ persistValues.pic }}" class="{% if flash.errors.pic %}has-error{% endif %}">
            {% if flash.errors.pic %}
              <span>{{ flash.errors.pic }}</span>
            {% endif %}

                <a class="close btn_cancel">Annuler</a>
                <button class="btn_create_item">Ajouter</button>
            </form>
        </div>
    </div>

    <div class="grid">
        {%  if products | length != 0 %}
            {% for product in products %}
                <div class="column-4 card">
                    <div class="card_body">
                        <img src="{{ base_url() ~ '/assets/img/' ~ product.getImages[0].name }}" alt="{{ product.name }}">
                        {% if product.price %}
                            <span class="price">{{ product.price }} €</span>
                        {% endif %}
                        <h4>{{ product.name }}</h4>
                        <p class="mt-10">{{ product.descr }}</p>
                        {% if product.url %}
                            <a class="product_url" href="{{ product.url }}">Voir le produit en vente</a>
                        {% endif %}
                        <a class="btn_add_item" href="{{ path_for('list.additem', {id: list.id, idProd: product.id}) }}">Ajouter à la liste</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="alert alert-info">Les produits ont tous été ajouté à votre liste !</p>
        {% endif %}
    </div>
{% endblock %}
