{% extends "layouts/layout.html.twig" %}

{% set title = 'Ajout de produits' %}

{% block content %}
  <div>
    <button class="btn_new_item">+ Ajouter un cadeau d'un autre site</button>
    <h2>Produits</h2>
    <hr class="clear-r">
  </div>
  <div class="grid">
      {% for product in products %}
        <div class="column-4 card">
          <div class="card_body">
            <form action="{{ path_for('list.additem', {id: list.id, idProd: product.id}) }}" method="post">
              <img src="{{ base_url() ~ '/assets/img/' ~ product.getImages[0].name }}" alt="{{ product.name }}">
              <span style="float: right">{{ product.price }}</span>
              <h4>{{ product.name }}</h4>
              <p class="mt-10">{{ product.descr }}</p>
              <button class="btn_add_item">Ajouter à la liste</button>
            </form>
          </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}
