{% extends "layouts/layout.html.twig" %}

{% set title = list.name %}

{% block js %}
    <script src="{{ base_url() ~ '/assets/js/modal.js' }}"> </script>
{% endblock %}

{% block content %}

    <a class="right date_exp_head">
        <i class="material-icons">notifications_active</i>&nbsp;&nbsp;{{ list.date_exp|date('d/m/Y') }}
    </a>
    <h2 class="pd-10">{{ list.name }}</h2>
    <hr class="clear-r">

    <blockquote>{{ list.descr }}</blockquote>

    {% if sharedPage is not defined %}
        <div class="grid">
            {% if auth.id == list.id_creator %}
                <div class="{%  if cookie == true %}column-6{% else %}column-4{% endif %}">
                    <a href="" class="btn btn-success btn-el">&Eacute;diter la liste</a>
                </div>
                {% if cookie == false %}
                    <div class="column-4">
                        {% if list.getComments|length == 0 %}
                            <div class="btn btn-danger btn-el">Aucun message</div>
                        {% else %}
                            <a href="{{ path_for('list.messages', {id: list.id}) }}" class="btn btn-danger btn-el">Messages</a>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="{%  if cookie == true %}column-6{% else %}column-4{% endif %}">
                    {% if list.url_share|length > 0 %}
                        <script>
                            function copyToClipboard(text) {
                                var copyText = document.getElementById("url_share");
                                copyText.select();
                                document.execCommand("Copy");
                                alert("Url copiée dans le presse-papier.");
                            }
                        </script>
                        <input type="text" value="{{ picker('app.host') ~ path_for('list.view.shared', {token: list.url_shar}) ~ list.url_share }}" id="url_share" class="url_share">
                        <button onclick="copyToClipboard()" class="btn btn-info btn-el">Url de partage</button>
                    {% else %}
                        <a href="{{ path_for('list.share', {id: list.id}) }}" class="btn btn-info btn-el">Partager</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="grid">
        {% for product in products %}
            <div id="modal-{{ product.id }}" class="modal">
                <div class="modal-content">
                    <span id="closeModal" class="close">&times;</span>
                    <h2>Message</h2>
                    <hr>
                    <p><strong>Nom:</strong> {{ message(product.idListProducts).author }}</p>
                    <p><strong>Message:</strong> {{ message(product.idListProducts).msg }}</p>
                </div>
            </div>

            <div class="column-4 card {% if product.isReserved == 1%}is_reserved{% endif %}">
                {% if product.isReserved == 1%}
                    <div class="ribbon"><span>Réservé</span></div>
                {% endif %}
                <div class="card_body">
                    <img src="{{ base_url() ~ '/assets/img/' ~ product.getImages[0].name }}" alt="{{ product.name }}">
                    {% if product.price %}
                        <span class="price">{{ product.price }} €</span>
                    {% endif %}
                    <h4>{{ product.name }}</h4>
                    <p class="mt-10">{{ product.descr }}</p>
                    {% if product.url %}
                        <a class="product_url" href="{{ product.url }}">Voir le produit en vente</a>
                    {% endif %}
                    {% if cookie == false %}
                        <button id="btn-modal-{{ product.id }}" class="btn btn-info btn-el">Voir le message</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
