{% extends "layouts/layout.html.twig" %}

{% set title = 'Mon compte' %}

{% block content %}
    <h2 class="pd-10">Mon compte</h2>
    <hr class="clear-r">

    <div class="grid">
        <div class="column-6">
            <h2>Mes informations</h2>
            <hr class="clear-r">
            <p><strong>Pr&eacute;nom:</strong> {{ auth.first_name }}</p>
            <p><strong>Nom:</strong> {{ auth.last_name }}</p>
            <p><strong>Email:</strong> {{ auth.mail }}</p>
        </div>

        <div class="column-6">
            <table class="bordered centered">
                <thead>
                <tr>
                    <th colspan="3" class="center">
                        Mes listes
                    </th>
                </tr>
                </thead>
                <tbody>
                    {% for list in lists %}
                        <tr>
                            <td>
                                <a href="{{ path_for('list.view', {id: list.id}) }}">{{ list.name }}</a>
                            </td>
                            <td>
                                {{ list.date_exp|date('d/m/Y') }}
                            </td>
                            <td>
                                <div class="row">
                                    <a onclick="return confirm('Etes vous sûr de vouloir supprimer cette liste ?')" href="{{ path_for('list.remove', {id: list.id}) }}" class="btn btn-danger btn-el">Supprimer</a>
                                    <a href="{{ path_for('list.listitems', {id: list.id}) }}" id="btn_add_products" class="btn btn-info btn-el">Ajouter des produits</a>
                                    <a href="{{ path_for('list.listitems', {id: list.id}) }}" id="btn_add_products_hidden" class="btn btn-info btn-el">Ajouter</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}